.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: #{$card-width};
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width:$small) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width:$medium) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width:$large) {
    grid-template-columns: repeat(4, $card-width);
  }
}
